{% extends 'base.html' %}

{% block title %}6ª Série{% endblock %}

{% block content %}
    <h1>6ª Série A</h1>
    <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Segunda</th>
            <th scope="col">Terça</th>
            <th scope="col">Quarta</th>
            <th scope="col">Quinta</th>
            <th scope="col">Sexta</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">7:00- 7:50</th>
            <td>Artes</td>
            <td>História</td>
            <td>História</td>
            <td>Matemática</td>
            <td>Português</td>
          </tr>
          <tr>
            <th scope="row">7:50 - 8:40</th>
            <td>Geografia</td>
            <td>Ética</td>
            <td>Ciências</td>
            <td>Matemática</td>
            <td>Ciências</td>
          </tr>
          <tr>
            <th scope="row">8:40 - 9:30</th>
            <td>Geografia</td>
            <td>Inglês</td>
            <td>Ciências</td>
            <td>Português</td>
            <td>Artes</td>
            
          </tr>
          <tr>
            <th  scope="row ">9:30 - 9:50</th>
            <th class="text-white bg-dark">Intervalo</th><th class="text-white bg-dark">Intervalo</th><th class="text-white bg-dark">Intervalo</th><th class="text-white bg-dark">Intervalo</th><th class="text-white bg-dark">Intervalo</th>
          </tr>
         
          <tr>
            <th scope="row">9:50 - 10:40</th>
            <td>Matemática</td>
            <td>Português</td>
            <td>Português</td>
            <td>Português</td>
            <td>Geografia</td>
            
          </tr>
          <tr>
            <th scope="row">10:40 - 11:30</th>
            <td>Matemática</td>
            <td>Português</td>
            <td>Matemática</td>
            <td>História</td>
            <td>Inglês</td>
            
            
          </tr>
        </tbody>
      </table>
{% endblock %}